.list-title {
  padding-top: 1em !important;
  margin-top: 10px;
  text-transform: capitalize;
  text-shadow: 0 0 6px #fff;
  font-size: 1.5em;
  font-weight: 800;
}

.list-container {
  flex-direction: column;
  box-shadow: 0 0 20px gray;
  border-radius: 3px;
  padding-bottom: 40px;
}

.list {
  padding: 1em;
  margin-bottom: 30px;
}

.list ul {
  list-style-type: none;
  padding-left: 0;
}

.list ul li {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  padding: 1em 0 0 0px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid;
}

.reset-button {
  width: fit-content;
  background-color: #da6e6e;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  font-size: 12px;
  text-transform: uppercase;
}

.reset-button:active {
  box-shadow: inset 0 0 3px;
}

.basic-button {
  font-size: 14px;
}

@media only screen and (max-width: 611px) {
  .basic-button {
    margin: auto;
    margin-bottom: 10px !important;
  }

  .list ul li {
    margin: 0;
  }
}

/* ____________________ */
