.compare-prices-title {
  padding-top: 50px;
}

.prices-table {
  margin: auto;
  border: 1px dotted black;
  border-radius: 3px;
  border-collapse: collapse;
}

.prices-table td {
  padding: 1em;
  border: 1px dotted black;
}

@media only screen and (max-width: 611px) {
  td {
    padding: 2px;
  }
}
