.enter-prices-title {
  
}

.select-store {
  margin: 0 10px;
  padding: 0.4em;
  font-weight: bold;
}

.price-inputs-form {
  text-align: left;
}

.input-box {
  margin: auto auto 10px auto;
  padding: 2px 0 2px 30%;
}

.input-box:hover {
  background-color: #a0a0a059;
}

.product-container {
  width: 70%;
}

.product {
  font-weight: bold;
  padding-bottom: 5px;
  margin-left: 20px;
  padding-top: 5px;
}

.input-price {
  font-weight: bold;
  padding: 0.4em;
  width: 10%;
}

.complete-button {
  font-size: 15px;
  padding: 0.5em;
  background-color: #4caf50b8;
  border: none;
  border-radius: 3px;
}

.complete-button-wrp {
  text-align: center;
  padding-top: 15px;
}

.complete-button:hover {
  box-shadow: 0 0 6px gray;
}

.complete-button:active {
  box-shadow: inset 0 0 6px gray;
}

.show-success-message {
  position: absolute;
  width: fit-content;
  font-weight: bold;
  border-radius: 7px;
  left: 33%;
  top: -100px;
  z-index: 300;
  background-color: #7ee767e3;
  padding: 2em;
  animation-name: example;
  animation-duration: 4s;
}

.hide {
  display: none;
}

@keyframes example {
  0% {opacity: 1}
  25% {opacity: 1;}
  50% {opacity: 0.7;}
  75% {opacity: 0.4;}
  100% {opacity: 0;}
}
@media only screen and (max-width: 611px) {
  .show-success-message {
    left: 20%;
    top: 0px;
  }
}
